html {
    background: #092c4f;
    color: rgb(204, 74, 74);
}

body {
    padding: 0;
    margin: 0;
}

.battle-info {
    position: relative;
}

.battlefield-title {
    font-size: 1.5rem;
}

.flip-switch:hover .flip-tooltip{
    visibility: visible;
}

.space-delimiter {
    visibility: hidden;
}

.battlefield-item {
    border: 1px solid white;

    width: 8%;
    min-width: 0;
    min-height: 0;
    padding-top: 8%;
    position: relative;
}

.first-row {
    border-color: #092c4f;
}

.edge-cells-wrapper {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.hit-cells-wrapper {
    display: none;
}

.hit-horizontal {
    position: absolute;
    background-color: rgb(218, 49, 19);

    width: 98%;
    height: 1px;

    top: 49%;
    left: 0;

    transform: skew(-70deg, 45deg);
}

.hit-vertical {
    position: absolute;
    background-color: rgb(218, 49, 19);

    width: 1px;
    height: 100%;

    left: 50%;
    top: 0;

    transform: skew(-45deg, 50deg);
}

.miss {
    background-color: white;
    border: 1px solid #001f3f;
}

.hit {
    display: initial;
}

.hit-cell {
    background-color: black;
}

.selected-ally-cell-content.edge-cells-wrapper{
    width: 70%;
}

.first-selected-ally-cell {
    background-color: rgb(33, 158, 48);
    box-shadow: rgb(34, 32, 28) 0px 0px 10px 0px;
}

.second-selected-ally-cell {
    background-color: rgb(216, 169, 68);
    box-shadow: rgb(34, 32, 28) 0px 0px 10px 0px;
}

.third-selected-ally-cell {
    background-color: rgb(82, 186, 212);
    box-shadow: rgb(34, 32, 28) 0px 0px 10px 0px;
}


@media all and (max-width: 600px) {
    .html {
        background-color: red;
    }

    .battlefield-title {
        font-size: 1rem;
    }

    .flip-tooltip {
        display: none;
    }
}